// Grid breakpoints used to replacing container width
// Used in container mixin "scss/mixins/container.scss"
$grid-breakpoints: (
  xxs: 0,
  xs : 480px,
  sm : 667px,
  md : 992px,
  lg : 1200px,
  xl : 1440px
);

// Container width dimensions
$container-width: (
  xxs: 320px,
  xs : 448px,
  sm : 619px,
  md : 960px,
  lg : 1080px,
  xl : 1200px
) !default;
