// Color tones
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #808191;
$gray-700: #495057;
$gray-800: #2f323b;
$gray-900: #212529;

// Color values
$white: #fff;
$blue: #2057D9;
$indigo: #101A2B;
$purple: #6c5dd3;
$pink: #d63384;
$red: #f82c1a;
$orange: #F5A623;
$yellow: #FEE394;
$green: #28a745;
$teal: #20c997;
$cyan: #4A90E2;
$black: #101113;

// Color assignments
$primary: $purple;
$secondary: $gray-600;
$disabled: $gray-400;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
