// Font pairs
$font-family-primary: 'Journal Sans', sans-serif;
$font-family-secondary: 'Arial', sans-serif;

// Font weight
$font-weight-regular: normal;
$font-weight-bold: bold;

// Font settings
$line-height-base: 1.76;
$font-color-base: $white;
$font-family-base: $font-family-primary;
$font-weight-base: $font-weight-regular;
$font-size-base: 1rem;

// Font settings secondary
$line-height-secondary: 1.5;
$font-color-secondary: $gray-600;

// Font setting article
$font-color-article: $gray-300;

// Font size
$font-size-h1: $font-size-base * 2.813;
$font-size-h2: $font-size-base * 2.5;
$font-size-h3: $font-size-base * 1.75;
$font-size-h4: $font-size-base * 1.5;
$font-size-h5: $font-size-base * 1.25;
$font-size-h6: $font-size-base * 1.125;
$font-size-sm: $font-size-base * 0.9375;
$font-size-xs: $font-size-base * 0.875;
$font-size-xxs: $font-size-base * 0.75;
