body {
  background-color: $midnight;
  line-height: $line-height-base;
  color: $font-color-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// Main

.content {
  flex: 1 0 auto;
  padding: 16px 0;
}

.footer {
  flex: 0 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include container-initialization();

  &-fluid {
    padding: 0 48px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@include media-breakpoint-down(xxs) {
  .container {
    &-fluid {
      padding: 0;
    }
  }

  .row {
    padding: 0 24px;
  }
}

span {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;

  li  {
    list-style: none;
  }
}


// Sections

.article {
  width: 100%;

  section {
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6  {
      margin-left: 12px;
    }

    p {
      color: $secondary;
    }

    article {
      padding: 16px 32px;
      background-color: $gray-900;
      border-radius: $article-border-radius;

      ul {
        li {
          margin-top: 16px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// Animations

// Fade slide up
.fade-slide-up-enter-active,
.fade-slide-up-leave-active {
  transition: 0.2s ease-out;
}

.fade-slide-up-enter-from {
  opacity: 0;
  transform: translateY(64px);
}

.fade-slide-up-leave-to {
  opacity: 0;
  transform: translateY(-64px);
}
