@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin column-wrapper {
  $gap-width: 24px;

  @include media-breakpoint-only(md) {
    display: grid;
    grid-template-columns: 200px calc(760px - $gap-width);
    gap: $gap-width;
  }

  @include media-breakpoint-only(lg) {
    display: grid;
    grid-template-columns: 240px calc(840px - $gap-width);
    gap: $gap-width;
  }

  @include media-breakpoint-only(xl) {
    display: grid;
    grid-template-columns: 240px calc(960px - $gap-width);
    gap: $gap-width;
  }
}
