// Fade slide up
.fade-slide-up-enter-active,
.fade-slide-up-leave-active {
  transition: 0.2s ease-out;
}

.fade-slide-up-enter-from {
  opacity: 0;
  transform: translateY(64px);
}

.fade-slide-up-leave-to {
  opacity: 0;
  transform: translateY(-64px);
}
