.article {
  width: 100%;

  section {
    margin-top: 32px;

    &:first-child {
      margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6  {
      margin-top: 0;
      margin-left: 12px;
      margin-bottom: 12px;
      font-weight: $font-weight-regular;
    }

    > p {
      color: $font-color-secondary;
    }

    article {
      padding: 16px 32px;
      background-color: $gray-900;
      border-radius: $article-border-radius;
      color: $font-color-article;

      ul, ol {
        padding-left: 12px;
      }
    }
  }
}
